VITE_DEMO_SPACE_ID=
VITE_DEMO_BASE_CURRENCY=CHF
VITE_MSAL_CLIENT_ID=
VITE_MSAL_AUTHORITY=https://login.microsoftonline.com/common
VITE_MSAL_REDIRECT_URI=http://localhost:5173
VITE_API_SCOPE=api://leafledger/ledger.write